# 1. Data preprocesing

### 1.1 Importing the libraries

In [12]:
import numpy as np
import pandas as pd

### 1.2 Importing datasets

In [36]:
dataset = pd.read_csv('./spam.csv', encoding='ISO-8859-1')
dataset.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1457,spam,CLAIRE here am havin borin time & am now alone...,NaN,NaN,NaN
3982,ham,Nationwide auto centre (or something like that...,NaN,NaN,NaN
182,ham,ok. I am a gentleman and will treat you with d...,NaN,NaN,NaN
5522,ham,Thats cool. I want to please you...,NaN,NaN,NaN
1745,ham,IåÕm cool ta luv but v.tired 2 cause i have be...,NaN,NaN,NaN

### 1.3 Data cleaning

#### Drop last 3 cloumn

In [14]:
dataset.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace=True)
dataset.sample(5)

        v1                                                 v2
3432   ham  Christmas is An occasion that is Celebrated as...
5353   ham  Guai... ÌÏ shd haf seen him when he's naughty....
1706   ham  Yes! I am a one woman man! Please tell me your...
4086  spam  PRIVATE! Your 2003 Account Statement for 07973...
5445   ham  And that's fine, I got enough bud to last most...

#### Rename column

In [18]:
dataset.rename(columns={'v1':'Output','v2':'Text'},inplace=True)
dataset.sample(5)

     Output                                               Text
997     ham  Not a lot has happened here. Feels very quiet....
687     ham  Dear,Me at cherthala.in case u r coming cochin...
1176    ham  Did he say how fantastic I am by any chance, o...
370     ham  Hello my boytoy ... Geeee I miss you already a...
4367    ham  1 I don't have her number and 2 its gonna be a...

## 1.4 Encoding categorical data

In [25]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
dataset['Output']=lb.fit_transform(dataset['Output'])
dataset.head()

   Output                                               Text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

## 1.5 Take care for Missing &&  Duplicate data

#### Checking missing data

In [28]:
dataset.isnull().sum()

Output    0
Text      0
dtype: int64

#### Checking duplicatedata

In [30]:
dataset.duplicated().sum()

403

#### Removing Duplicate

In [32]:
dataset=dataset.drop_duplicates(keep='first')
dataset.duplicated().sum()

0